@import 'variables';

:host {
	display: flex;
	flex: 1;
}

.requests-wrapper {
	background: $default-linear-gradient;
	max-width: inherit;
	padding: 48px 25px;
	flex-direction: column;

	.requests-table {
		width: calc(100vw - 82px);
		min-height: 160px;

		.table {
			.label {
				padding-left: 10px;
				padding-right: 10px;
				color: $color-primary-dark;
			}

			.show-details-icon {
				width: 16px;
				fill: $color-neutral-light;
				cursor: pointer;

				&:hover {
					fill: $color-blue;
				}
			}

			td.actions {
				.icon {
					width: 16px;
					display: block;
					margin: 0 auto;
					cursor: pointer;
				}
			}
		}
	}

	.records-not-found {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 48px;
		color: $color-primary-dark;
	}

	.paginator {
		margin-top: 48px;
	}
}
